<!DOCTYPE html>
<html>
<head>
  <title>CTA-Location Logger</title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">

  <!-- Connect Font Awesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>


<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
    
<h1>
    Index
</h1>
  
<hr>

<div class="container pt-5">
 <table class="table">
    <thead><tr>
      <th scope="col">Data Type</th>
      <th scope="col">Menu</th>
    </tr></thead>
    <tbody>
    <tr>
      <td>Cta Train Location (<%= CtaLoc.count%> records)</td>
      <td><a href ="/cta_locs">View</a></td>
    </tr>
    
    <tr>
      <td></td>
      <td><a href ="/cta_locs/get">Get Record (Testfunction)</a></td>
    </tr>

    <tr>
      <td>Cta Station (<%=StopDatum.count%> records)</td>
      <td><a href ="/stop_data">View</a></td>
    </tr>
    
    <tr>
      <td></td>
      <td><a href ="/stop_data/new">Add</a></td>
    </tr>
    
    <tr>
      <td>Test mailer</td>
      <td><a href="/cta_locs/send">Send</a></td>
    </tr>
    
    </tbody>
 
</div>
  



<figure class="figure">
  <img src='/overview.png' class="figure-img img-fluid rounded" alt="App overview">
  <figcaption class="figure-caption text-right">App overview</figcaption>
</figure>
    
</body>







